pre.highlight {
  margin: 0 0 1.875rem;
}
pre,
code {
  font-size: 1rem;
  font-family: D2Coding, "D2 coding", monospace;
  -webkit-font-smoothing: antialiased;
}
.highlight table td {
  padding: 5px;
}
.highlight table pre {
  margin: 0;
}
.highlighter-rouge .highlight {
  color: #faf6e4;
  background-color: #1d1d1d;
  border-radius: 10px;
}
pre.highlighter-rouge,
code.highlighter-rouge {
  line-height: normal;
  background: rgba(135, 131, 120, 0.15);
  color: #eb5757;
  border-radius: 3px;
  font-size: 85%;
  padding: 0.2em 0.4em;
  margin: 0 0.1875rem 0 0;
}
.highlighter-rouge pre {
  padding: 1rem 0.75rem;
}
.highlighter-rouge code {
  background: transparent;
}
.highlight .c,
.highlight .ch,
.highlight .cd,
.highlight .cm,
.highlight .cpf,
.highlight .c1,
.highlight .cs {
  color: #9c9c9c;
  font-style: italic;
}
.highlight .cp {
  color: #41ff5b;
}
.highlight .err {
  color: #ffffff;
  background-color: transparent;
}
.highlight .gr {
  color: #ffffff;
  background-color: #cc0000;
}
.highlight .k,
.highlight .kd,
.highlight .kv {
  color: #ffd448;
}
.highlight .o,
.highlight .ow {
  color: #41ff5b;
}
.highlight .p,
.highlight .pi {
  color: #ffb641;
}
.highlight .gd {
  color: #cc0000;
}
.highlight .gi {
  color: #3fb34f;
}
.highlight .ge {
  font-style: italic;
}

.highlight .gt,
.highlight .gl,
.highlight .kc {
  color: #7b89ff;
}
.highlight .kn,
.highlight .kp,
.highlight .gh,
.highlight .gu {
  color: #ffffff;
}

.highlight .kt,
.highlight .no,
.highlight .nc,
.highlight .nd,
.highlight .nn,
.highlight .bp,
.highlight .ne {
  color: #faaf4c;
}

.highlight .nl,
.highlight .nt {
  color: #f8a66c;
}
.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mx {
  color: #ff6865;
}
.highlight .ld,
.highlight .ss {
  color: #9f93e6;
}
.highlight .s,
.highlight .sb,
.highlight .dl,
.highlight .sd,
.highlight .s2,
.highlight .sh,
.highlight .sx,
.highlight .sr,
.highlight .s1 {
  color: #fff0a6;
}
.highlight .sa {
  color: #fff02a;
}
.highlight .se,
.highlight .sc,
.highlight .si {
  color: #faaf4c;
}

.highlight .ni {
  color: #999999;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight .kr,
.highlight .nf,
.highlight .fm {
  color: #4cd4a9;
  font-weight: normal;
}
.highlight .py {
  color: #41ff5b;
}
.highlight .na {
  color: #97f169;
}
.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi,
.highlight .vm {
  color: #41ff5b;
}

.highlight .nb {
  color: #27bff2;
}
