
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {% include breadcrumb.html %}
        {{ content }}
      </div>
    </main>
    {% if page.url == site.baseurl %}
      <img class="background" src="/assets/img/background.jpg" alt="">
    {% endif %} 

    {%- include footer.html -%}

  </body>

</html>
